/* font configurations */
@font-face {
    font-family: Roboto Condensed Light;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

* {
    margin: 0px;
    padding: 0px;
}

nav{
    text-align: left;
    background-color: lightgrey;

}

nav ul li{
    display: inline-block;
    padding-left: 50px;
    font-size: 25px;

}

nav ul li a, a:hover{
    text-decoration: none;
    color: inherit;
}

nav h3{
    font-weight: bolder;
}



body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
    margin-top: 2%;

}



.col{
    background-color: black;
    color: white;
    margin: 20px 20px;
    padding: 25px;
}

form .row{
    border: none;

}
form .col{
    border: none;
    background-color: white;
    color: black;
    height: 5%;
    margin: 0px;
    padding: 0px;
}

input{
    display: block;
}

#lat_lon {
    margin-top: 10px;
}

#lat_lon p{
    margin-bottom: 0px;
}

#detailsdeleterow{
    margin-top: 0px;
}

#latestreadingrow{
    border: 1px dimgrey solid;
}

#dashboard_container{
    border: dimgrey solid 1px;
    margin-bottom: 5px;
}

